/* The side navigation menu */
.sidebar {
  margin: 15px 0 0 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: auto;
  overflow: auto;
}

/* Sidebar links */
.sidebar div {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar div.selected {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar div:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar div {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar div {
    text-align: center;
    float: none;
  }
}

.clickable:hover {
    cursor: pointer;

}
.clickable:hover, .selected {
    color: rgba(95, 158, 160, 0.9);
}
.page .btn{
  margin: 15px;
}
.container-fluid button.metrics{
  float: right;
  margin-top: 15px;
  display: none;
}